/*css global*/
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Raleway', sans-serif;

}

/*css navbar*/

.menu{
    background-color: #3C1642;
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
    
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.menu_items li:hover, li.active{
    background-color: rgba(199, 29, 241, 0.479);
    transition: .4s;

}

.menu_vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 800px;
    background-color: rgba(199, 29, 241, 0.479);
}



.menu li:hover .menu_vertical{
    display: block;
    
}

.menu_vertical li a{
    display: block;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    
}
.navicon{
    background-color: rgba(199, 29, 241, 0.479);
}


/*css footer*/

.pie-pagina{
    width: 100%;
    background-color: #3C1642;
    color: #fff;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box ul{
    list-style: none;

}

.pie-pagina .grupo-1 .box ul li{
    text-align: left;
    font-size: 12px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2,
.pie-pagina .grupo-1 .box h3{
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p,
.pie-pagina .grupo-1 .box i{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 12px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #681f74;
    text-align: center;
    transition: all 300ms ease;
    font-size: 25px;

}

.pie-pagina .grupo-1 .red-social a:hover{
    color:  rgba(199, 29, 241, 0.479);
}

.pie-pagina .grupo-2{
    background-color: #1b051f;
    padding: 15px 10px;
    text-align: center;
    font-size: 15px;


}

@media screen and (max-width:700px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/*css formulario*/


.formulario{
    background:#681f74;
    color: #fff;
    padding: 0 1.5em;
    margin-top: 3rem;

}

.contenedor{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.titulo{
    margin-top: 35px;
    text-align: center;
    font-size: 3em;
}

.contacto-general{
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);

}

.contacto-general > *{
    padding: 1em;

}


.contacto-form{
    background: #222222;
}

.contacto-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-form form .block{
    grid-column: 1 / 3;
}

.contacto-form form p{
    margin: 0;
    padding: 1em;

}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #1758e4;

}

.contacto-form form button{
    background:#1758e4;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;

}

.contacto-form form button:hover,
.contacto-form footer button:focus{
    background: rgba(9, 101, 238, 0.479);
    transition: background-color 1s ease-out;
    outline: none;
}



.contacto-info{
    background: rgb(236, 108, 34);

}

.contacto-info h2,
.contacto-info ul,
.contacto-info p{
    text-align: center;
    margin: 0 0 1rem 0;

}


.contacto-info ul{
    list-style: none;
    padding: 0;

}

.contacto-info ul li{
    padding: .3em;

}

@media (min-width: 700px) {
    .formulario{
        padding: 0 4rem;
    }

    .contacto-general{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contacto-general > *{
        padding: 2em;
    }

    .contacto-info h2,
    .contacto-info ul,
    .contacto-info p{
        padding: 1em;
        text-align: left;
    }
}

/*css personalizados*/

.personalizados_titulo{
    margin-top: 30px;
    color: #fff;
    background-color: #3C1642;
    padding: .5em;
}
.personalizados{
    background-color:  rgba(199, 29, 241, 0.479);
    
}

.personalizados_borde_v{
    border: 4px solid #3C1642;
}

.personalizado_encabezado{
    font-size: 2rem;
    color: black;
}
.personalizados_item{
    list-style: none;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 1.5rem;
    color: black;
}

/*css cards categoria*/
.container{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    max-width: 1170px;
}
h1{
    margin-top: 30px;
}

.card{
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(236, 108, 34);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    color: #fff;
    cursor: default;


}

/*css carrusel inicio*/

.carrusel{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.carrusel .carrusel-desliza{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 8);
}


.carrusel .desliza{
    display: flex;
    width: 200px;
    list-style: none;
}

.carrusel .desliza img{
    width: 100%;
    height: 100%;
}

@keyframes scroll{
0%{
    -webkit-transforn: translatex(0);
    transform: translatex(0);
}
100%{
    -webkit-transforn: translatex(calc(-200px * 4));
    transform: translatex(calc(-200px * 4));
}
}


/*css sobre nosotros*/

.sobre_nosotros{
    padding: 50px;
    margin: 50px;
    background-color:  #3C1642;
}

.quienes_somos{
    background-color: rgb(236, 108, 34);
}
.sobre_nosotros h1,
.sobre_nosotros p,
.sobre_nosotros h2{
    color: #000;
}

.sobre_nosotros p{
    font-size: 2em;
}

.preguntas_frecuentes{
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: rgb(236, 108, 34);
}

.acordion-preguntas-frecuentes{
    font-size: 1.5em;
}

.btn-preg-frec{
    font-size: .7em;
}
